* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;

}

section {
    width: 90%;
    height: 94%;
    max-width: 960px;
    margin: 0 auto;
    color: #fff;
}

header {
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    padding-top: 15%;
}

h2 {
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}

p {
    margin-bottom: 5px;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

footer {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.logotip {
    float: left;
    text-align: center;
    position: relative;
}

.palm {
    position: absolute;
    bottom: 0;
    left: 140px;
}

.contact {
    float: right;
    font-size: 8px;
    font-weight: 400;
    padding: 18px 10px 0 0;
}

.text-layer {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.gallery {
    content: "";
    clear: both;
    display: table;
    width: 90%;
    margin: 0 auto;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 0px 5px 50px;
}

.img-container img {
    width: 100%;
}

.frame {
    border: 3px solid #c2c2c2;
}
